// Bootstrap Icons
.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
    display: inline-block;
    font-family: $bootstrap-icons-font !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.bi-gear-wide::before {
    content: map-get($bootstrap-icons-map, "gear-wide");
}
.bi-gear::before {
    content: map-get($bootstrap-icons-map, "gear");
}
