/***************************************
Overflow Menu
****************************************/

.jb-overflowmenu {
    position: relative;
    // height: 35px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    .placeholder {
        visibility: hidden;
    }

    .jb-overflowmenu-helper-postion {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0px;
        overflow: visible;
        // position: absolute;
    }

    /*holds the overflow menu and label*/
    .jb-overflowmenu-menu-primary {
        padding: 0;
        margin: 2px 0 0 0;
        height: 30px !important;

        li.item {
            display: inline-block;
            padding: 6px 0px;
            margin: 0 0px;

            & > a {
                padding: 4px 10px;
            }
        }
    }

    /******** Overflow menu and Dropdown *********/
    .jb-overflowmenu-container {
        left: auto;
        bottom: 0;
        right: 0;
        top: 0;
        border-bottom: 1px solid #bebebe;
        border-left: 1px solid #bebebe;
        background-color: #eee;
    }

    .jb-overflowmenu-menu-secondary-handle {
        // width: 12px;
        text-align: center;
        padding: 5px;
        line-height: 15px;
        color: #666;
    }

    .jb-overflowmenu-container > a.jb-overflowmenu-menu-secondary-handle {
        color: #666;
        padding: 9px;
        background-color: #eee;
        border-right: 1px solid #aaa;
    }

    .jb-overflowmenu-container > a.jb-overflowmenu-menu-secondary-handle:hove {
        color: #000;
        background-color: #ddd;
    }

    .jb-overflowmenu-menu-secondary {
        top: auto;
        bottom: auto;
        left: auto;
        display: none;
        position: absolute;
        z-index: 9;
        padding: 0;
        margin: 0;
    }

    div.customQ-dropdown {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border: solid 1px #ddd;
        border: solid 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        padding: 3px 0;
        background: #fff;
        text-align: left;
        font-size: 0.95em;
        min-width: 100%;
        list-style: none;
        left: -1px;
        top: 31px;
        z-index: 8;

        @media (min-width: 576px) {
            position: absolute;
            display: none;
        }
    }

    /**********************End Custom Queues Dropdown******************/
}
