.search-dropdown {
    padding-left: 19px;
}

.adv-search-field {
    margin-top: 5px !important;
}

.advanced-search {
    fieldset {
        margin-top: 3px;
        position: relative;
    }
    .adv-search-method:before,
    .adv-search-val:before {
        content: "";
        border-left: 2px dotted #ccc;
        border-bottom: 2px dotted #ccc;
        border-color: rgba(0, 0, 0, 0.15);
        // width: 10px;
        height: 10px;
        display: inline-block;
        position: absolute;
        left: -16px;
    }
    .adv-search-method {
        margin-left: 24px;
    }

    .adv-search-val {
        margin-left: 45px;
    }
}
